body {
    margin: 0px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 15px 30px 0px 30px;
    overflow: hidden;
    background-color:white;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    text-align: center;
    color: black;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
  }
  li a:hover{
      text-decoration: underline;
  }
.nav-right{
      float:right;
  }
.google-logo{
    -webkit-user-select: none;
    display: block;
    margin: auto;
    padding-top: 100px;
    padding-bottom: 20px;
}
#sign-in{
    background-color: #4285F4;
    color: #FFFFFF;
    border-radius: 2px;
}
#apps-icon{
    width: 15px;
    height: 15px;
    opacity: 0.6;
}
.search-bar{
margin: auto;
display:flex;
justify-items: center;
align-items: center;
width: 482px;
height: 44px;
border-radius: 22px;
border: 1px solid lightgray;
}

#search-icon{
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    width: 15px;
    height: 15px;
    opacity: 0.6;
}
.search-input-text{
    display:flex;
    width: 387px;
    height: 32px;
    border: none;
    font: 16px ariel,sans-serif;
}
.search-input-text:focus {
    outline: 0; 
   }
.search-buttons{
    margin: auto;
    display:flex;
   justify-content: center;
    align-items: center;
    width: 482px;
    height: 44px;
    font-family: ariel,sans-serif;
    }
#search-button{
    height: 36px;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    height: 36px;
    min-width: 54px;
}

#lucky-button{
    height: 36px;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    height: 36px;
    min-width: 54px;
}